# Ejercicio 5
## Arithmetic Operation

In [1]:
# addition, subtraction, multiplication
(4 + 8) * (6.5 - 3)

42.0

In [2]:
# True division
print(11 / 2)

5.5

In [3]:
# Floor division
print(11 // 2)

5

## Bitwise Operations

In [4]:
bin(10)

'0b1010'

In [5]:
bin(4)

'0b100'

In [6]:
4 | 10

14

In [7]:
bin(4 | 10)

'0b1110'

## Assignment Operations

In [8]:
a = 24
print(a)

24

In [9]:
a + 2

26

In [10]:
a += 2  # equivalent to a = a + 2
print(a)

26

## Comparison Operations

In [11]:
# 25 is odd
25 % 2 == 1

True

In [12]:
# 66 is odd
66 % 2 == 1

False

In [13]:
# check if a is between 15 and 30
a = 25
15 < a < 30

True

In [14]:
-1 == ~0

True

## Bollean Operations

In [15]:
x = 4
(x < 6) and (x > 2)

True

In [16]:
(x > 10) or (x % 2 == 0)

True

In [17]:
not (x < 6)

False

In [18]:
# (x > 1) xor (x < 10)
(x > 1) != (x < 10)

False

## Identity Operators: "is" and "is not"

In [19]:
a = [1, 2, 3]
b = [1, 2, 3]

In [20]:
a == b

True

In [21]:
a is b

False

In [22]:
a is not b

True

In [23]:
a = [1, 2, 3]
b = a
a is b

True

## Membership Operators

In [24]:
1 in [1, 2, 3]

True

In [25]:
2 not in [1, 2, 3]

False